<!-- views/partials/header.ejs -->
<header>
    <nav>
        <ul>
            <!-- Add your links here 
            <li><a href="/">Home</a></li>
            <li><a href="/trade">Trade</a></li>
            -->
        </ul>
    </nav>
</header>
