<!-- views/partials/head.ejs -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%='Mock Trading Text Game' %></title>
    
    <!-- Link Stylesheet -->
    <link rel="stylesheet" href="/styles.css">
    <link rel="scripts" href="/public/script.js">
    <!-- Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-chart-financial@3.1.0/dist/chartjs-chart-financial.min.js"></script>
</head>
